.ui-state-highlight {
    border: 1px dashed #ccc;
}

#imgPreview {
    margin:20px;
}

ul.gallery li {
    margin: 20px;
    display: inline;
    list-style: none;
}

ul.gallery {
    padding: 0;
}

.sorting tr:not(.home) {
    cursor:pointer;
}

table.alignmiddle td {
    vertical-align: middle !important;
}

#noimage {
    width:100px;
    height:100;
}